.container

    .buttons

        button.btn-download Download the PDF
            span.btn-download__icon
                include ../../img/icons/arrow-download.svg


        button.btn-send.btn-send--light
            span Send message
            include ../../img/icons/arrow-download.svg

        button.btn-send.btn-send--dark
            span Send message
            include ../../img/icons/arrow-download.svg